<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilo.css">
    <title>Detalhes</title>
</head>
<body>
    <header>
        <div>
            <%- include('nav.ejs') %>
        </div>        
    </header>
    <main>
        <section>           
            <h1><%= trailer.titulo %></h1>  
            <img id="imgIndex" src="<%= trailer.thumb %>" alt="">   
            <h1><%= trailer.classificacao %></h1>                    

            <a href="/editar/<%=trailer.id%>"><button>Editar</button></a>  
            <a href="/deletarTrailer/<%=trailer.id%>"><button>Excluir</button></a>                        
        </section>
    </main>
    <footer>
        <h6>Todos os direitos reservados</h6>
    </footer>
</body>
</html>