<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Detalhes</title>
</head>

<body>    
    <header>
        <nav class="nav">
            <h2 class="home"><a href="/">BLUEFLIX</a></h2>
            <h2 class="novo"><a href="/cadastro">Novo</a></h2>
        </nav>
    </header>
    <main>
        <section class="detalhes">
            <input type="hidden" id="imagemAtual" value="<%= trailer.imagembg %>">            
            <div class="tituloDetalhes">
                <img src="../img/<%= trailer.classificacao %>.png">
                <h1><%= trailer.titulo %></h1>
                <h2>(<%= trailer.ano %>)</h2>
            </div>
            <img id="imgThumb" src="<%= trailer.thumb %>" alt="">
            <div class="botoesFuncoes">
                <a href="/editar/<%=trailer.id%>"><button>Editar</button></a>
                <a href="/deletarTrailer/<%=trailer.id%>"><button>Excluir</button></a>
            </div>            
            <div>   
                <h1><%= trailer.video %></h1>                    
                <input type="hidden" id="videoAtual" value="<%= trailer.video %>">
                <iframe id="video"  width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>                
            </div>
            <div>   
                <h1>Sinopse</h1>                    
                <p><%= trailer.sinopse %></p>
            </div>
        </section>
    </main>
    <footer>
        <h6>Todos os direitos reservados</h6>
    </footer>    
    <script src="/js/scriptVideo.js"></script>
    <script src="/js/scriptImagem.js"></script>
</body>

</html>