<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilo.css">
    <title>
        <%= titulo %>
    </title>
</head>

<body>
    <header>
        <div>
            <%- include('nav.ejs') %>
        </div>
    </header>

    <% if(message != ""){ %>
        <section id="message">
            <p><%= message %></p><span id="close">&times;</span>
        </section>
    <% } %>

    <main>
        <img src="https://occ-0-1313-1123.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSAvZbGqC8L4WRNCcNdjXPb9wiFCtqFzrtmKd2Molz-LXOdb4Gl42KvH3bfENEas7_vdXApaFS5uQWuLgzxoiKtxkgd9.webp?r=ae9" alt="">

        
        <section class="catalogo" >
            <% catalogo.forEach((elemento, indice) =>{ %>
                <a class="filmes" href="/detalhes/<%= indice %>">               
                    <h1><%= elemento.titulo %></h1>               
                    <img id="imgIndex" src="<%= elemento.imagem %>" alt="">   
                    <h1><%= elemento.elenco_principal %></h1>
                </a>
            <% }) %>
        </section>
        <img class=""
            src="https://occ-0-1313-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABapW580ITdxEjVucrH0aOi4BLos1DLRZg2_IgN7aLrGlVgkDtMgNxKi5caX--usU5yl9416iqKPdsWxrXpk4E5_pzun7.jpg?r=512"
            alt="">
    </main>
    <footer>
        <h6>Todos os direitos reservados</h6>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>