<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilo.css">
    <title>BlueFlix</title>
</head>

<body>
    <header>
        <div>
            <%- include('nav.ejs') %>
        </div>
    </header>

    <% if(message != ""){ %>
        <section id="message">
            <p><%= message %></p><span id="close">&times;</span>
        </section>
    <% } %>

    <main>
              
        <section class="catalogo" >
            <% catalogo.forEach((elemento) =>{ %>
                <a class="filmes" href="/detalhes/<%= elemento.id %>">               
                    <h1><%= elemento.titulo %></h1>  
                    <img id="imgIndex" src="<%= elemento.thumb %>" alt="">   
                    <h1><%= elemento.classificacao %></h1>
                </a>
            <% }) %>
        </section>

    </main>
    <footer>
        <h6>Todos os direitos reservados</h6>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>